<ul>
<% for (var i=0; i<hotels.length; i++){ %>
	<li>	
		<div class="hotelHeader">
			<% if(typeof hotels[i].link !== 'undefined' && hotels[i].link != ""){ %>	
				<a href="<%=hotels[i].link %>" target="_blank"> <%=hotels[i].name%></a>
				
			<% }else{ %>
				<%=hotels[i].name%>
			<% } %>
			
			<span class="rating">		
				<% for(var j=0; j<hotels[i].rating; j++) { %>
					<i class="icon-star"></i>
				<% } %> 
			</span>
		</div>

		<div><%=hotels[i].address%></div>
		<div><i>Distancia del evento:</i> <%=hotels[i].distance%></div>
		<div><i>Precio aproximado:</i> <%=hotels[i].price%></div>
		<div><b><%=hotels[i].notes%></b></div>
	</li>
<% } %>
</ul>